<ion-header>
  <ion-toolbar>
    <ion-title>
      Absensi Camera & Geolocation
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-button expand="block" fill="outline" (click)="openCamera()">Open Camera</ion-button>
    <ion-button expand="block" fill="outline" (click)="getLocation()">Location</ion-button>
    <ion-button expand="block" fill="outline" (click)="karyawan()">Karyawan</ion-button>
  </div>
  <div class="ion-padding">
    {{lokasi}}
  </div>
</ion-content>
